<!DOCTYPE html>
<html>
<body>

    <form action="/submit" method="post">
        <label for="songName">Enter Song Name:</label><br>
        <input type="text" id="songName" name="songName"><br>
        <br><br>
        <label for="recommendation">Number of Recommendation (Optional):</label><br>
        <input type="text" id="recommendation" name="recommendation"><br>


        <input type="submit" value="Submit">
      </form>

<h1>Results from my Python Code</h1>

<p>{{ result }}</p>

</body>
</html>
